<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schoolforum.base.dao.ArticlesMapper" >
  <resultMap type="schoolforum.base.models.Articles" id="ArticleMap" autoMapping="true">
  	<id property="articleid" column="articleId" />
  	<association property="user" javaType="schoolforum.base.models.Users" autoMapping="true"></association>
  </resultMap>
  <select id="getList" resultMap="ArticleMap" parameterType="schoolforum.base.models.Articles" >
    select articles.*,users.realname,users.sex,users.birthday,users.phone,users.headimgurl,users.usertype,users.userstatus from articles
    left join users on articles.userid=users.userid
    where 1=1
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articletitle != null" >
      and articleTitle = #{articletitle}
    </if>
    <if test="articlecontent != null" >
      and articleContent = #{articlecontent}
    </if>
    <if test="articletime != null" >
      and articleTime = #{articletime}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  <select id="getListByTime" resultMap="ArticleMap">
  	select * from
  	(select articles.*,users.realname,users.sex,users.birthday,users.phone,users.headimgurl,users.usertype,users.userstatus
    ,(select count(*) from articlefeedbacks where articleid=articles.articleId) articlefbcount from articles 
    left join users on articles.userid=users.userid) temp
    where 1=1
    <if test="beginTime != null and endTime != null">
    	and articletime between #{beginTime} and #{endTime}
    </if>
    <if test="userid != null">
    	and userid=#{userid}
    </if>
    <if test="type==0">
    	order by articletime desc,articlefbcount desc
    </if>
    <if test="type==1">
    	order by articlefbcount desc,articletime desc
    </if>
  </select>
  
  <select id="getSingle" resultMap="ArticleMap" >
    select articles.*,users.realname,users.sex,users.birthday,users.phone,users.headimgurl,users.usertype,users.userstatus
    ,(select count(*) from articlefeedbacks where articleid=articles.articleId) articlefbcount from articles 
    left join users on articles.userid=users.userid
    where articleId = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="schoolforum.base.models.Articles" >
    insert into articles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        articleId,
      </if>
      <if test="articletitle != null" >
        articleTitle,
      </if>
      <if test="articlecontent != null" >
        articleContent,
      </if>
      <if test="articletime != null" >
        articleTime,
      </if>
      <if test="userid != null" >
        userId
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="articleid != null" >
        #{articleid},
      </if>
      <if test="articletitle != null" >
        #{articletitle},
      </if>
      <if test="articlecontent != null" >
        #{articlecontent},
      </if>
      <if test="articletime != null" >
        #{articletime},
      </if>
      <if test="userid != null" >
        #{userid}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="schoolforum.base.models.Articles" >
    update articles
    <set >
      <if test="articletitle != null" >
        articleTitle = #{articletitle},
      </if>
      <if test="articlecontent != null" >
        articleContent = #{articlecontent},
      </if>
      <if test="articletime != null" >
        articleTime = #{articletime},
      </if>
      <if test="userid != null" >
        userId = #{userid}
      </if>
    </set>
    where
    articleId = #{articleid}
  </update>
  
  <delete id="batchDelete" >
    delete from articles
    where articleId in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultMap="ArticleMap" parameterType="schoolforum.base.models.Articles" >
     select articles.*,users.realname,users.sex,users.birthday,users.phone,users.headimgurl,users.usertype,users.userstatus
    ,(select count(*) from articlefeedbacks where articleid=articles.articleId) articlefbcount from articles 
    left join users on articles.userid=users.userid
    where 1=1
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articletitle != null" >
      and articleTitle = #{articletitle}
    </if>
    <if test="articlecontent != null" >
      and articleContent = #{articlecontent}
    </if>
    <if test="articletime != null" >
      and articleTime = #{articletime}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
    order by articletime desc,articlefbcount desc
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="schoolforum.base.models.Articles" >
    select count(*) from articles
    where 1=1
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articletitle != null" >
      and articleTitle = #{articletitle}
    </if>
    <if test="articlecontent != null" >
      and articleContent = #{articlecontent}
    </if>
    <if test="articletime != null" >
      and articleTime = #{articletime}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
</mapper>