<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schoolforum.base.dao.ArticlefeedbacksMapper" >
  <resultMap type="schoolforum.base.models.Articlefeedbacks" id="ArticleFeedbackMap" autoMapping="true">
  	<id property="articlefeedbackid" column="articlefeedbackId" />
  	<association property="fromuser" javaType="schoolforum.base.models.Users" autoMapping="true"></association>
  	<association property="touser" javaType="schoolforum.base.models.Users">
  		<id property="userid" column="touserid" />
  		<result property="realname" column="torealName" />
  		<result property="headimgurl" column="toheadImgUrl" />
  	</association>
  </resultMap>
  <select id="getList" resultMap="ArticleFeedbackMap" parameterType="schoolforum.base.models.Articlefeedbacks" >
    SELECT afb.*
	,fu.userId,fu.realName,fu.headImgUrl
	,tu.realName torealName,tu.headImgUrl toheadImgUrl
	FROM articlefeedbacks afb
	LEFT JOIN users fu ON afb.fromUserId=fu.userId
	LEFT JOIN users tu ON afb.toUserId=tu.userId
    where 1=1
    <if test="articlefeedbackid != null" >
      and articleFeedbackId = #{articlefeedbackid}
    </if>
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articlefeedbackcontent != null" >
      and articleFeedbackContent = #{articlefeedbackcontent}
    </if>
    <if test="articlefeedbacktime != null" >
      and articleFeedbackTime = #{articlefeedbacktime}
    </if>
    <if test="fromuserid != null" >
      and fromUserId = #{fromuserid}
    </if>
    <if test="touserid != null" >
      and toUserId = #{touserid}
    </if>
    <if test="parentid != null" >
      and parentId = #{parentid}
    </if>
  </select>
  
  <select id="getFbTopUser" resultMap="ArticleFeedbackMap" >
  	select temp.*
  	,fu.userId,fu.realName,fu.headImgUrl
  	from
  	(SELECT COUNT(*) articlefeedbackcount,fromuserid,uuid() as articlefeedbackId FROM articlefeedbacks
    WHERE 1=1
    <if test="beginTime != null and endTime != null">
    	and articleFeedbackTime between #{beginTime} and #{endTime}
    </if>
   	group by fromuserid) temp
	LEFT JOIN users fu ON temp.fromUserId=fu.userId
	order by articlefeedbackcount desc
  </select>
  
  <select id="getSingle" resultMap="ArticleFeedbackMap" >
     SELECT afb.*
	,fu.userId,fu.realName,fu.headImgUrl
	,tu.realName torealName,tu.headImgUrl toheadImgUrl
	FROM articlefeedbacks afb
	LEFT JOIN users fu ON afb.fromUserId=fu.userId
	LEFT JOIN users tu ON afb.toUserId=tu.userId
    where articleFeedbackId = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="schoolforum.base.models.Articlefeedbacks" >
    insert into articlefeedbacks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articlefeedbackid != null" >
        articleFeedbackId,
      </if>
      <if test="articleid != null" >
        articleId,
      </if>
      <if test="articlefeedbackcontent != null" >
        articleFeedbackContent,
      </if>
      <if test="articlefeedbacktime != null" >
        articleFeedbackTime,
      </if>
      <if test="fromuserid != null" >
        fromUserId,
      </if>
      <if test="touserid != null" >
        toUserId,
      </if>
      <if test="parentid != null" >
        parentId
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="articlefeedbackid != null" >
        #{articlefeedbackid},
      </if>
      <if test="articleid != null" >
        #{articleid},
      </if>
      <if test="articlefeedbackcontent != null" >
        #{articlefeedbackcontent},
      </if>
      <if test="articlefeedbacktime != null" >
        #{articlefeedbacktime},
      </if>
      <if test="fromuserid != null" >
        #{fromuserid},
      </if>
      <if test="touserid != null" >
        #{touserid},
      </if>
      <if test="parentid != null" >
        #{parentid}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="schoolforum.base.models.Articlefeedbacks" >
    update articlefeedbacks
    <set >
      <if test="articleid != null" >
        articleId = #{articleid},
      </if>
      <if test="articlefeedbackcontent != null" >
        articleFeedbackContent = #{articlefeedbackcontent},
      </if>
      <if test="articlefeedbacktime != null" >
        articleFeedbackTime = #{articlefeedbacktime},
      </if>
      <if test="fromuserid != null" >
        fromUserId = #{fromuserid},
      </if>
      <if test="touserid != null" >
        toUserId = #{touserid},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid}
      </if>
    </set>
    where
    articleFeedbackId = #{articlefeedbackid}
  </update>
  
  <delete id="batchDelete" >
    delete from articlefeedbacks
    where articleFeedbackId in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultMap="ArticleFeedbackMap" parameterType="schoolforum.base.models.Articlefeedbacks" >
    SELECT afb.*
	,fu.userId,fu.realName,fu.headImgUrl
	,tu.realName torealName,tu.headImgUrl toheadImgUrl
	FROM articlefeedbacks afb
	LEFT JOIN users fu ON afb.fromUserId=fu.userId
	LEFT JOIN users tu ON afb.toUserId=tu.userId
    where 1=1
    <if test="articlefeedbackid != null" >
      and articleFeedbackId = #{articlefeedbackid}
    </if>
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articlefeedbackcontent != null" >
      and articleFeedbackContent = #{articlefeedbackcontent}
    </if>
    <if test="articlefeedbacktime != null" >
      and articleFeedbackTime = #{articlefeedbacktime}
    </if>
    <if test="fromuserid != null" >
      and fromUserId = #{fromuserid}
    </if>
    <if test="touserid != null" >
      and toUserId = #{touserid}
    </if>
    <if test="parentid != null" >
      and parentId = #{parentid}
    </if>
    order by articleFeedbackTime desc
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="schoolforum.base.models.Articlefeedbacks" >
    select count(*) from articlefeedbacks
    where 1=1
    <if test="articlefeedbackid != null" >
      and articleFeedbackId = #{articlefeedbackid}
    </if>
    <if test="articleid != null" >
      and articleId = #{articleid}
    </if>
    <if test="articlefeedbackcontent != null" >
      and articleFeedbackContent = #{articlefeedbackcontent}
    </if>
    <if test="articlefeedbacktime != null" >
      and articleFeedbackTime = #{articlefeedbacktime}
    </if>
    <if test="fromuserid != null" >
      and fromUserId = #{fromuserid}
    </if>
    <if test="touserid != null" >
      and toUserId = #{touserid}
    </if>
    <if test="parentid != null" >
      and parentId = #{parentid}
    </if>
  </select>
  
</mapper>