<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schoolforum.base.dao.SuggestionsMapper" >
  <resultMap type="schoolforum.base.models.Suggestions" id="SuggestionMap" autoMapping="true">
  	<id property="suggestionid" column="suggestionId" />
  	<association property="user" javaType="schoolforum.base.models.Users" autoMapping="true">
  		<id property="userid" column="userid" />
  	</association>
  	<association property="fbuser" javaType="schoolforum.base.models.Users">
  		<id property="userid" column="suggestionfbuid" />
  		<result property="realname" column="fu_realname" />
  		<result property="sex" column="fu_sex" />
  		<result property="birthday" column="fu_birthday" />
  		<result property="phone" column="fu_phone" />
  		<result property="headimgurl" column="fu_headimgurl" />
  		<result property="usertype" column="fu_usertype" />
  		<result property="userstatus" column="fu_userstatus" />
  	</association>
  </resultMap>
  <select id="getList" resultMap="SuggestionMap" parameterType="schoolforum.base.models.Suggestions" >
    select suggestions.*
    ,u.realname,u.sex,u.birthday,u.phone,u.headimgurl,u.usertype,u.userstatus
    ,fu.realname fu_realname,fu.sex fu_sex,fu.birthday fu_birthday,fu.phone fu_phone,fu.headimgurl fu_headimgurl,fu.usertype fu_usertype,fu.userstatus fu_userstatus
    from suggestions
    left join users u on suggestions.userid=u.userid
    left join users fu on suggestions.suggestionfbuid=fu.userid
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
    <if test="suggestiontitle != null" >
      and suggestionTitle = #{suggestiontitle}
    </if>
    <if test="suggestioncontent != null" >
      and suggestionContent = #{suggestioncontent}
    </if>
    <if test="suggestiontime != null" >
      and suggestionTime = #{suggestiontime}
    </if>
    <if test="suggestionfeedback != null" >
      and suggestionFeedback = #{suggestionfeedback}
    </if>
    <if test="suggestionfbtime != null" >
      and suggestionFBTime = #{suggestionfbtime}
    </if>
    <if test="suggestionscore != null" >
      and suggestionScore = #{suggestionscore}
    </if>
    <if test="suggestionfbuid != null" >
      and suggestionFBUId = #{suggestionfbuid}
    </if>
    <if test="suggestiontype != null" >
      and suggestionType = #{suggestiontype}
    </if>
    <if test="suggestionstatus !=null">
	  and suggestionstatus = #{suggestionstatus}
    </if>
    <if test="suggestioncount != null">
      and suggestioncount = #{suggestioncount}
    </if>
    order by suggestioncount desc
  </select>
  
  <select id="getSingle" resultMap="SuggestionMap" >
    select suggestions.*
    ,u.realname,u.sex,u.birthday,u.phone,u.headimgurl,u.usertype,u.userstatus
    ,fu.realname fu_realname,fu.sex fu_sex,fu.birthday fu_birthday,fu.phone fu_phone,fu.headimgurl fu_headimgurl,fu.usertype fu_usertype,fu.userstatus fu_userstatus
    from suggestions
    left join users u on suggestions.userid=u.userid
    left join users fu on suggestions.suggestionfbuid=fu.userid
    where suggestionId = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="schoolforum.base.models.Suggestions" >
    insert into suggestions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suggestionid != null" >
        suggestionId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="suggestiontitle != null" >
        suggestionTitle,
      </if>
      <if test="suggestioncontent != null" >
        suggestionContent,
      </if>
      <if test="suggestiontime != null" >
        suggestionTime,
      </if>
      <if test="suggestionfeedback != null" >
        suggestionFeedback,
      </if>
      <if test="suggestionfbtime != null" >
        suggestionFBTime,
      </if>
      <if test="suggestionscore != null" >
        suggestionScore,
      </if>
      <if test="suggestionfbuid != null" >
        suggestionFBUId,
      </if>
      <if test="suggestiontype != null" >
        suggestionType
      </if>
	  <if test="suggestionstatus !=null">
	    suggestionstatus
      </if>
      <if test="suggestioncount != null">
	    suggestioncount
	  </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="suggestionid != null" >
        #{suggestionid},
      </if>
      <if test="userid != null" >
        #{userid},
      </if>
      <if test="suggestiontitle != null" >
        #{suggestiontitle},
      </if>
      <if test="suggestioncontent != null" >
        #{suggestioncontent},
      </if>
      <if test="suggestiontime != null" >
        #{suggestiontime},
      </if>
      <if test="suggestionfeedback != null" >
        #{suggestionfeedback},
      </if>
      <if test="suggestionfbtime != null" >
        #{suggestionfbtime},
      </if>
      <if test="suggestionscore != null" >
        #{suggestionscore},
      </if>
      <if test="suggestionfbuid != null" >
        #{suggestionfbuid},
      </if>
      <if test="suggestiontype != null" >
        #{suggestiontype}
      </if>
      <if test="suggestionstatus !=null">
	    #{suggestionstatus}
      </if>
      <if test="suggestioncount != null">
      	#{suggestioncount}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="schoolforum.base.models.Suggestions" >
    update suggestions
    <set >
      <if test="userid != null" >
        userId = #{userid},
      </if>
      <if test="suggestiontitle != null" >
        suggestionTitle = #{suggestiontitle},
      </if>
      <if test="suggestioncontent != null" >
        suggestionContent = #{suggestioncontent},
      </if>
      <if test="suggestiontime != null" >
        suggestionTime = #{suggestiontime},
      </if>
      <if test="suggestionfeedback != null" >
        suggestionFeedback = #{suggestionfeedback},
      </if>
      <if test="suggestionfbtime != null" >
        suggestionFBTime = #{suggestionfbtime},
      </if>
      <if test="suggestionscore != null" >
        suggestionScore = #{suggestionscore},
      </if>
      <if test="suggestionfbuid != null" >
        suggestionFBUId = #{suggestionfbuid},
      </if>
      <if test="suggestiontype != null" >
        suggestionType = #{suggestiontype}
      </if>
      <if test="suggestionstatus !=null">
	    suggestionstatus = #{suggestionstatus}
      </if>
      <if test="suggestioncount != null">
      	suggestioncount = #{suggestioncount}
      </if>
    </set>
    where
    suggestionId = #{suggestionid}
  </update>
  
  <delete id="batchDelete" >
    delete from suggestions
    where suggestionId in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultMap="SuggestionMap" parameterType="schoolforum.base.models.Suggestions" >
    select suggestions.*
    ,u.realname,u.sex,u.birthday,u.phone,u.headimgurl,u.usertype,u.userstatus
    ,fu.realname fu_realname,fu.sex fu_sex,fu.birthday fu_birthday,fu.phone fu_phone,fu.headimgurl fu_headimgurl,fu.usertype fu_usertype,fu.userstatus fu_userstatus
    from suggestions
    left join users u on suggestions.userid=u.userid
    left join users fu on suggestions.suggestionfbuid=fu.userid
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
    <if test="suggestiontitle != null" >
      and suggestionTitle = #{suggestiontitle}
    </if>
    <if test="suggestioncontent != null" >
      and suggestionContent = #{suggestioncontent}
    </if>
    <if test="suggestiontime != null" >
      and suggestionTime = #{suggestiontime}
    </if>
    <if test="suggestionfeedback != null" >
      and suggestionFeedback = #{suggestionfeedback}
    </if>
    <if test="suggestionfbtime != null" >
      and suggestionFBTime = #{suggestionfbtime}
    </if>
    <if test="suggestionscore != null" >
      and suggestionScore = #{suggestionscore}
    </if>
    <if test="suggestionfbuid != null" >
      and suggestionFBUId = #{suggestionfbuid}
    </if>
    <if test="suggestiontype != null" >
      and suggestionType = #{suggestiontype}
    </if>
    <if test="suggestionstatus !=null">
	  and suggestionstatus = #{suggestionstatus}
    </if>
    <if test="suggestioncount != null">
      and suggestioncount = #{suggestioncount}
    </if>
    order by suggestioncount desc
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="schoolforum.base.models.Suggestions" >
    select count(*) from suggestions
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
    <if test="suggestiontitle != null" >
      and suggestionTitle = #{suggestiontitle}
    </if>
    <if test="suggestioncontent != null" >
      and suggestionContent = #{suggestioncontent}
    </if>
    <if test="suggestiontime != null" >
      and suggestionTime = #{suggestiontime}
    </if>
    <if test="suggestionfeedback != null" >
      and suggestionFeedback = #{suggestionfeedback}
    </if>
    <if test="suggestionfbtime != null" >
      and suggestionFBTime = #{suggestionfbtime}
    </if>
    <if test="suggestionscore != null" >
      and suggestionScore = #{suggestionscore}
    </if>
    <if test="suggestionfbuid != null" >
      and suggestionFBUId = #{suggestionfbuid}
    </if>
    <if test="suggestiontype != null" >
      and suggestionType = #{suggestiontype}
    </if>
    <if test="suggestionstatus !=null">
	  and suggestionstatus = #{suggestionstatus}
    </if>
    <if test="suggestioncount != null">
      and suggestioncount = #{suggestioncount}
    </if>
  </select>
  
</mapper>