<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schoolforum.base.dao.SuggestionusersMapper" >
  <select id="getList" resultType="schoolforum.base.models.Suggestionusers" parameterType="schoolforum.base.models.Suggestionusers" >
    select * from suggestionusers
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
  <select id="getSingle" resultType="schoolforum.base.models.Suggestionusers" >
    select * from suggestionusers
    where suggestionId = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="schoolforum.base.models.Suggestionusers" >
    insert into suggestionusers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suggestionid != null" >
        suggestionId,
      </if>
      <if test="userid != null" >
        userId
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="suggestionid != null" >
        #{suggestionid},
      </if>
      <if test="userid != null" >
        #{userid}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="schoolforum.base.models.Suggestionusers" >
    update suggestionusers
    <set >
      <if test="userid != null" >
        userId = #{userid}
      </if>
    </set>
    where
    suggestionId = #{suggestionid}
  </update>
  
  <delete id="batchDelete" >
    delete from suggestionusers
    where suggestionId in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultType="schoolforum.base.models.Suggestionusers" parameterType="schoolforum.base.models.Suggestionusers" >
    select * from suggestionusers
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="schoolforum.base.models.Suggestionusers" >
    select count(*) from suggestionusers
    where 1=1
    <if test="suggestionid != null" >
      and suggestionId = #{suggestionid}
    </if>
    <if test="userid != null" >
      and userId = #{userid}
    </if>
  </select>
  
</mapper>